.Button {
  cursor: pointer;
}

.clear {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 27px;
  line-height: 31px;
  background-color: #af88bd;
  outline: none;
  border: none;
  padding: 22px 65px;
  border-radius: 100px;
}
