.navbar {
  width: 100%;
  background-color: var(--bg-color);

  .headerBottom {
    background-color: #d6c6dc;
    height: 50px;

    .bottomFlex {
      display: flex;
      justify-content: flex-end;
      height: 50px;

      input {
        background-color: #af88bd;
        border-radius: 20px;
        align-self: center;
        border: 1px solid  #af88bd;
        padding: 5px 7px;
        color: #fff;
        width: 728px;
        height: 25px;
        font-size: 15px;
        line-height: 18px;
        outline: none;
      }

      .icon {
        padding-left: 35px;
        background: #af88bd url("shared/assets/icons/iconamoon_search-thin.svg") no-repeat 12px center;
        background-size: 19px;
      }
    }
  }

  .headerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
  }

  ul {
    display: flex;
  }

  .link {
    color: var(--primary-color);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 30px;
    padding-top: 37px;
    padding-bottom: 32px;
    padding-right: 50px;
    display: block;
  }
}

::-webkit-input-placeholder {
  color: #d6c6dc;
  font-size: 20px;
  //line-height: 1px;
}
